@import 'tailwindcss';

@layer base {
  :root {
    --color-primary: #fdf1db;
    --color-secondary: #e7d4b4;
    --color-tertiary: #d9c3a5;
    --color-text: #64351b;
    --color-hover: #bea98a;
    --color-text-hover: #44220f;
  }
}

@keyframes drawer-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes drawer-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes accordion-in {
  from {
    height: 0;
  }
  to {
    height: var(--accordion-panel-height);
  }
}

@keyframes accordion-out {
  from {
    height: var(--accordion-panel-height);
  }
  to {
    height: 0;
  }
}

@theme {
  --font-text: 'Pixelify Sans', sans-serif;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-text: var(--color-text);
  --color-hover: var(--color-hover);
  --color-text-hover: var(--color-text-hover);
  --animate-drawer-in: drawer-in 0.2s ease-in;
  --animate-drawer-out: drawer-out 0.2s ease-out;
  --animate-accordion-in: accordion-in 0.2s ease-in;
  --animate-accordion-out: accordion-out 0.2s ease-out;
}

body {
  @apply font-text text-text bg-primary;
}

.frame {
  opacity: 0;
}

.frame-1 {
  animation: frame-1 900ms steps(1, end) infinite;
}

.frame-2 {
  animation: frame-2 900ms steps(1, end) infinite;
}

.frame-3 {
  animation: frame-3 900ms steps(1, end) infinite;
}

@keyframes frame-1 {
  0%,
  33.333% {
    opacity: 1;
  }

  33.334%,
  100% {
    opacity: 0;
  }
}

@keyframes frame-2 {
  0%,
  33.333% {
    opacity: 0;
  }

  33.334%,
  66.666% {
    opacity: 1;
  }

  66.667%,
  100% {
    opacity: 0;
  }
}

@keyframes frame-3 {
  0%,
  66.666% {
    opacity: 0;
  }

  66.667%,
  100% {
    opacity: 1;
  }
}
